---
title: a9s Redis for PCF
owner: Partners
---

This documentation describes the a9s Redis for Pivotal Cloud Foundry (PCF) tile.

<%= image_tag("a9s-redis-tile.png") %>

## <a id='overview'></a>Overview

a9s Redis for PCF enables on-demand provisioning of VM-based, dedicated Redis servers and clusters.<br />
a9s Redis for PCF is part of a number of a9s Data Services available in one Bundle. Visit the<a href="https://www.anynines.com/" target="_blank">anynines website</a> for more details. Developers can create instances of a Redis server or cluster using Apps Manager

When you run the cf CLI ```create-service a9s-redis``` command,
PCF creates dedicated VMs for this service instance. This allows
the best possible bad neighborhood protection.

Redis service instance provisioning, including VM orchestration, is entirely automated.
This enables service instances to be highly isolated and shielded by infrastructure virtualization
mechanisms.

Due to the on-demand provisioning on VMs, only existing service
instances allocate infrastructure resources. These resources are released when service
instances are destroyed. Using on-demand provisioning the number of
service instances is not limited by design.

### <a></a>Current Features

The current version of a9s Redis for PCF includes the following key features:

| Feature | Benefit |
|---------|---------|
| **On­-Demand Service Instance Provisioning** | a9s Redis for PCF deploys Redis instances automatically. Developers can provision a single-VM Redis server using a single command. |
| **Service Instance Isolation** | Each Redis server runs on a dedicated VM to ensure bad neighborhood protection in order to be aligned with enterprise security requirements.<br/><br/>a9s Redis for PCF uses Cloud Foundry security groups to prevent network connections being established by unauthorized apps.
| **Smoke Tests** | a9s Redis for PCF contains a post-deploy smoke tests errand that runs a series of basic test against your installation to ensure that it is configured properly. |
| **Service Instance Capacity Upgrade** | Cloud Foundry Service Plan updates allow upgrades to the RAM, CPU, and storage capacity for your Redis instances. |
| **Logging and Monitoring** | Each Redis service instance provides log messages and Redis-specific metrics to one or more `syslog/graphite` endpoints. You can configure the `syslog/graphite` endpoint to receive logging and monitoring information. |
| **Deployment Updater** | This errand automatically updates the stemcell and all provisioned a9s Redis for PCF service instances to their lastest version. |
| **Backup Manager** | The Backup Manager does regular backup of your instances and offers endpoints to backup instantly and restore backups. |
| **Service Guard** | The Service Guard creates Cloud Foundry security groups for your service instance VMs.<br /><br /> When the IP address of a service instance changes, the guard updates the security group. The Service Guard also restarts the application instances bound to the affected service instance. **The instances of one app are restarted one by one to avoid downtime.**|
| **Customazible Snapshots** | a9s Redis for PCF supports RDB persistence with point-in-time snapshots.<br />This setting can be <a href="./using.html#redis-persitence">changed by the user</a>. |
| **High Availability** | a9s Redis for PCF ensures high-availability using <a href="./using.html#redis-sentinel">Redis Sentinel</a>.<br/><br/>The Consul-based internal DNS system provided by a9s Consul DNS for PCF ensures that the connected application always connects to a working node. The user can modify Sentinel related settings like min\_slaves\_max\_lag and down\_after\_milliseconds. |
| **Improved Memory Handling** | a9s Redis for PCF suports now a better memory handling. In addition, the user can modify the <a href="./using.html#redis-memory-policy">maxmemory_policy</a>. |
| **Service Dashboard** | The Service Dashboard provides a single sign on and lets the user trigger easily backups. |

### <a id='video'></a>Video Overview of a9s Redis for PCF

The following video provides an overview of how a9s Redis for PCF works.

<p>
  <iframe src="https://www.youtube.com/embed/90tKsTxLWlQ"
    width="656" height="372" frameborder="0" allowfullscreen></iframe>
</p>

## <a id="snapshot"></a>Product Snapshot

The following table provides version and version-support information about a9s Redis for PCF:

<table class="nice">
<th>Criteria</th>
<th>Version and support information</th>
 <tr>
 <td>Version</td>
 <td>v2.0.1</td>
 </tr>
 <tr>
 <td>Release date</td>
 <td>June 1, 2018</td>
 </tr>
 <tr>
 <td>Compatible Ops Manager versions:</td>
 <td>v1.12.x, v2.0.x, v2.1.x</td>
 </tr>
 <tr>
 <td>Compatible Elastic Runtime versions:</td>
 <td>v1.12.x, v2.0.x, v2.1.x</td>
 </tr>
 <tr>
 <td>IaaS support</td>
 <td>AWS, Azure, GCP, OpenStack, Vsphere</td>
 </tr>
</table>

To install and use a9s PostgreSQL for PCF, you must install the following products and tiles:

* Pivotal Application Service (formerly Elastic Runtime) v1.12 or later

For more information, see [Installing and Configuring a9s Redis for PCF](./installing.html).

## <a id="feedback"></a>Feedback and Support

a9s Redis for PCF is an automation toolset for open source Redis.
The entire anynines team can help your team  get started and be successful.
Technical support, including a service level agreement, is available with a commercial license.

If your company has specific Redis administration policies or configuration best practises,
the anynines team is happy to incorporate them, if applicable.
Third-party Redis support organizations are also welcome to assist.

Contributions are welcome and will be investigated by the anynines team.
Send any bugs, feature requests, or questions to <a href="mailto:dssupport@anynines.com">dssupport@anynines.com</a>.

## <a id='license'></a>License

Contact our <a href="mailto:dssupport@anynines.com">sales team</a> to learn more about commercial licenses and support.
