---
title: a9s Redis for PCF (Beta)
owner: Partners
---

<style>
    .note.warning {
        background-color: #fdd;
        border-color: #fbb
    }
    .note.warning:before {
        color: #f99;
     }
</style>

<p>
  <iframe src="http://www.youtube.com/embed/Ku40qmrqsoo"
    width="656" height="372" frameborder="0" allowfullscreen></iframe>
</p>

<p class="note warning">
<strong>IMPORTANT: </strong>
The a9s Redis for Pivotal Cloud Foundry (PCF) tile is currently in beta and is intended for evaluation and test purposes only. Do not use this product in a PCF production environment.
</p>

This documentation describes the a9s Redis for PCF tile.

<%= image_tag("a9s-redis-tile.png") %>

## <a id='overview'></a>Overview

a9s Redis for PCF enables on-demand provisioning of VM-based, dedicated Redis servers. App developers can create instances of a Redis server using Apps Manager or the Cloud Foundry Command Line Interface tool (cf CLI) and bind these instances to an app. The service runs on a single, dedicated VM, the size of which depends on your service plan.

a9s Redis for PCF automatically provisions service instances and creates a dedicated VM for each instance. This isolates service instances, preventing the "bad neighborhood" problem that can occur when multiple service instances run on a shared VM.

Because the service provisions VMs as needed, only existing service instances use infrastructure resources. These resources are released when service instances are destroyed. With on-demand provisioning, the number of service instances grows or shrinks with demand.

### <a></a>Current Features

a9s Redis for PCF includes the following key features:

| Feature | Description |
|---------|---------|
| **On­-demand service instance provisioning** | a9s Redis for PCF deploys Redis instances automatically. Developers provision a single-VM Redis server using one `create-service` command. |
| **Service instance isolation** | Each Redis server runs on a dedicated VM to ensure bad-neighborhood protection and align with enterprise security requirements.<br/><br/>a9s Redis for PCF uses Cloud Foundry [application security groups (ASGs)](https://docs.pivotal.io/pivotalcf/adminguide/app-sec-groups.html) to prevent network connections from unauthorized apps.
| **Smoke tests** | A post-deployment, smoke-test errand runs basic tests against your installation, ensuring that it is configured properly. |
| **Service instance capacity upgrade** | By updating your service plan, you can upgrade the RAM, CPU, and storage capacity for your Redis instances.  |
| **Logging and monitoring** | Each Redis service instance provides log messages and Redis-specific metrics to one or more `syslog/graphite` endpoints. You can configure the `syslog/graphite` endpoint to receive logging and monitoring information. |
| **Deployment updater** | An updater errand updates the stemcell and all provisioned a9s Redis for PCF service instances to their latest version. |

## <a id="snapshot"></a>Product Snapshot

The following table provides version and version-support information about a9s Redis for PCF:

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Version</td>
        <td>v0.10.0</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>April 20, 2017</td>
    </tr>
    <tr>
        <td>Software component version</td>
        <td>v3.2.8</td>
    </tr>
    <tr>
        <td>Compatible Ops Manager version(s)</td>
        <td>v1.7.x, v1.8.x, v1.9.x, v1.10.x</td>
    </tr>
    <tr>
        <td>Compatible Elastic Runtime version(s)</td>
        <td>v1.7.x, v1.8.x, v1.9.x, v1.10.x</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>AWS, OpenStack, and vSphere</td>
    </tr>
    <tr>
        <td>IPsec support</td>
        <td>No</td>
    </tr>
</table>

## <a id="reqs"></a>Requirements

To install and use a9s Redis for PCF, you must install the following products and tiles:

* Elastic Runtime, v1.7 or later
* [a9s Consul DNS](https://network.pivotal.io/products/a9s-consul) for PCF, v1.0.0 or later
* [a9s BOSH](https://network.pivotal.io/products/a9s-bosh) for PCF, v1.0.0 or later

For more information, see [Installing and Configuring a9s Redis for PCF](./installing.html).

## <a id="feedback"></a>Feedback and Support

The anynines team can help you get started and succeed with a9s Redis for PCF. Technical support, including a service-level agreement, is available with a commercial license.

If your company has specific Redis administration policies or configuration best practices,
the anynines team is happy to incorporate them. Third-party Redis support organizations are also welcome to assist.

Contributions are welcome and will be investigated by the anynines team. Please send any bugs, feature requests, or questions to svc.support@anynines.com.

## <a id='license'></a>License

Contact <a href="http://data-services.anynines.com/sales" target="_blank">our sales team</a> to learn more about commercial licenses and support.
