---
title: a9s Redis for PCF Release Notes
owner: Partners
---

## <a id="0-11-0"></a>v0.11.0

**Release Date:** June 1, 2017

* Added a Backup Manager that allows the creation of manual and automatic backups and manual recoveries.
* Added a Service Guard that creates security groups for your instance.
*
Known issues in this release:

* Failed backups with empty configuration — The Backup Manager schedules backups
even when its settings are left empty and these backups are displayed as “failed” in the Backup Manager API.

## <a id="0-10-0"></a>v0.10.0

**Release Date:** April 20, 2017

Features included in this release:

* On-demand service instance provisioning.
* Service instance isolation.
* Smoke tests errand. See [Configure Errands](./installing.html#errands").
* Service instance plan upgrade.
* Logging and monitoring.
