---
title: a9s Redis for PCF Release Notes
owner: Partners
---

### v0.10.0

**Release Date:** April 20, 2017

a9s Redis for PCF is based on a9s Redis which began development in 2014. a9s Redis for PCF was tested on <a href="https://paas.anynines.com/" target="_blank">paas.anynines.com</a>.

Features included in this release:

* On-demand Service Instance Provisioning
* Service Instance Isolation
* Smoke tests errand. See <a href="/partners/a9s-redis/installing.html#errands" target="_blank">the errands chapter</a> for more information.
* Service Instance Plan Upgrade
* Logging and Monitoring
